extend layout.pug

block listNavbar
    ul(class="nav navbar-nav")
        li
            a(href="/") Home
        li
            a(href="/about") About
        li
            a(href="/login") Login
        li(class="active")
            a(href="/secured") SecuredPage

block content
    h1 #{title}
    p #{message}
    <h1>SECURED PAGE</h1>
    <img width=200 src="Logo-CFAINSTA.png" />
